@import '~antd/dist/antd.css';

table {
  border-spacing: 0;
  border: 1px solid #ededed;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.create_table {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#wrapper {
  width: 1200px;
  overflow: hidden;
}
#first {
  width:300px;
  float:left; /* add this */
}
#second {
  width:300px;
  float:left;
}
#third {
  width:300px;
  float:left; /* add this */
}
#fourth {
  width:300px;
  float:left;
}
#fifth {
  width:300px;
  float:left;
}
#sixth {
  width:300px;
  float: left;
}
#seventh {
  width:300px;
  float: left;
}
#eighth {
  width:300px;
  float: left;
}

input {
  min-width:50px!important;
  max-width:99.99%!important;
  transition: width 0.25s;
  text-align:center;
}
